body {
  padding: 50px;
  font-family: arial;
  background-color: #e4c49b;
}

#pageTitle {
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  align: center;
  background-color: #ff6666;
}

#welcomeDiv {
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 10px;
  align: center;
  background-color: #ffffff;
}

#greetingParagraph {
  font-family: arial;
}

h1 {
  text-align: center;
  color: #ffffff;
}

.tabOptions {
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.tabContent {
  display: none;
  padding: 5px;
  border: 1px solid #cccccc;
}

.tabOptions button {
  background-color: inherit;
  float: left;
  border: 2px solid;
  outline: none;
  cursor: pointer;
  padding: 15px;
  transition: 0.5s;
  font-size: 15px;
}

.tabOptions button:hover {
  background-color: #e6e6e6;
}
