body {
  padding: 50px;
  background-color: #ffffff;
}

h1 {
  font-family: arial;
  text-align: center;
}

h2 {
  font-family: arial;
  text-align: center;
}

.question {
  font-family: arial;
  text-align: center;
}

#fn, #ln {
  font-family: arial;
}

div {
  align: center;
  border-radius: 15px;
  border: 1.5px solid #000000;
  padding: 50px;
  background-color: #4169e1;
}

img {
  align: center;
}
