body {
  padding: 50px;
  background-color: #ffffff;
}

h1 {
  font-family: arial;
  text-align: center;
}

h2 {
  font-family: arial;
  text-align: center;
}

.question {
  font-family: arial;
  text-align: left;
}

#fn, #ln {
  font-family: arial;
}

div {
  align: center;
  border-radius: 15px;
  border: 1.5px solid #000000;
  padding: 10px 20px 30px 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
